*{
    margin:0;
    padding:0;

}
body{
      
    background-color:#D7C7CC;
    font-family:"Roboto", sans-serif;

}
.container{

         max-width:1000px;
         background-color: #B7F3FA;
         
         margin:0 auto;
         padding:20px;
}
header{


}
.profile-image{
    
          width:120px;
          height:150px;
          border:   3px  solid white;
          border-radius: 50%;
          float: left;


}
.header-bio{

          float:left;
          padding:35px;
}

h1,h2,h4,h5,h6{
            
            color:#743134
}

h3{
 
         color :#2460A6
      
}


.header-contact{

             float:right;
             padding:35px;


}
.header-contact a{

              text-decoration:none;
              color:#CD4652;
              font-weight: bold;

}
.header-contact a:hover{

                 text-decoration: underline;
                 color:black;


}
.div-clear{
      
      clear:both;   
  

}
hr{

       border:solid ,rgb(73, 9, 9)  5px;
       width:100%;
       margin:20px auto;
       border-bottom:none;


}
/*--------------------
Personal section start
----------------------*/
#personal-section{



}
.content{

    margin-bottom :30px;
   
    

}
.left-div{

      width: 30%;
      float: left;

}
.right-div{
 
     width: 70%;
     float: left;

}
.common-hr{

      border: solid black 1px;
      border-bottom: none;
      width :100%;
      margin: 20px auto;
      
}
.ref-template-right{
      
      float:right;
      width:45%;
}
.ref-template-left{

    float:left;
    width:45%;
}

/*--------------
footer start
-------------*/

.bottom-container{

        background-color:black;
        text-align: center;
        padding: 10px;

}
.bottom-container a{

   color: white;
   text-decoration: none;
   margin:20px;

}

.bottom-container p{

    color: white;
    
    margin-top:30px;
}     
      


